@model IPagedList<demosaba.Models.MVClass>

@{ ViewBag.Title = "Index"; }


@using PagedList.Mvc;
@using PagedList;



<center>
    <h2>Lista de facturas</h2>

    <p>
        @using (Html.BeginForm("Index", "demo", FormMethod.Post))
        {

            if (ViewBag.CurrentFilter != null)
            {
                <input type="date" name="start" value="@ViewBag.CurrentFilter" />
                <input type="date" name="end" value="@ViewBag.CurrentFilter2" />

                <input type="submit" name="submit" value="Search" />
            }
            else
            {
                <input type="date" name="start" required=required />
                <input type="date" name="end" required=required />

                <input type="submit" name="submit" value="Search" />
            }


        }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().DOCUMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FECHA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NIT_RECEPTOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CLAVE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CODIGO_MONEDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TOTALGRAVADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TOTALEXENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TOTALDESCUENTOS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TOTALIMPUESTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TOTALCOMPROBANTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CONTIENE_ERRORES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ERROR_WS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ERROR_SOFTLAND)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ENVIADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ACEPTADO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().RESPUESTA_XML)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PDF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().XML)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DOCUMENTO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CLIENTE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FECHA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NIT_RECEPTOR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CLAVE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CODIGO_MONEDA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTALGRAVADO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTALEXENTO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTALDESCUENTOS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTALIMPUESTO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTALCOMPROBANTE)
    </td>
    <td>

        @Html.DisplayFor(modelItem => item.CONTIENE_ERRORES)


    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ERROR_WS)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ERROR_SOFTLAND)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ENVIADO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ACEPTADO)
    </td>
    <td>

        <a class="btn btn-success" href="prueba/@item.RESPUESTA_XML" target="_blank">Respuesta XML</a>

    </td>

    <td>

        <a class="btn btn-success" href="prueba/@item.PDF" target="_blank">PDF</a>

    </td>
    <td>

        <a class="btn btn-success" href="prueba/@item.XML" target="_blank">XML</a>


</tr>
}

    </table>
</center>

@Html.PagedListPager(Model, i => Url.Action("Index", new { i, currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.sortOrder }))